:root {
  --main-bg-green: #849D8F;
  --main-bg-blue: #8996A6;
  --main-bg-brown: #9D8B84;
  --basic-yellow: #F1E5CD;
  --basic-black: #323232;
  --basic-white: #FFFFFF;
  --basic-grey: #C4C4C4;
  --basic-orange: #D07058;


  --bg-red: #A2314E;
  --bg-brown: #301A0B;
  --bg-grey: #EDEDED;
  --bg-pale-orange: #FBDED7;
  --bg-orange: #F6B5A5;
  --hover-orange: #E84D37;

  --reusable-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --reusable-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --reusable-border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
}

* {
  box-sizing: border-box;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}


.catalog-drop-down {
  width: 143px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;

  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.drop-down-item a {
  display: block;

  color: var(--basic-black);
}

.drop-down-item-active a {
  font-weight: bold;
  line-height: 18px;
}

.catalog-drop-down a:hover ,
.catalog-drop-down a:focus {
  background-color: var(--bg-pale-orange);
}

.catalog-drop-down a:active {
  background-color: var(--bg-orange);
}

.drop-down-item-current a ,
.drop-down-item-current a:hover ,
.drop-down-item-current a:focus ,
.drop-down-item-current a:active {
  color: var(--basic-white);

  background-color: var(--basic-orange);
}


.search-popup {
  display: none;
}

.login-popup {
  display: none;
}

.img-crop {
  border-radius: 50%;
}

.button {
  padding: 15px 22px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);

  background: var(--reusable-gradient);
  border-radius: 70px;
  box-shadow: var(--reusable-box-shadow);
}

.button:hover ,
.button-large:hover ,
.button-large:hover {
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px #ac1000;
}

.button:active ,
.button-large:active {
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;
}

.button-large {
  padding: 10px 40px;

  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: var(--basic-white);

  background: var(--reusable-gradient);
  border-radius: 70px;
  box-shadow: var(--reusable-box-shadow);
}

body {
  width: 1220px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: var(--basic-white);

  background-color: var(--main-bg-green);
  background-repeat: no-repeat;
  background-position: top center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-nav-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.main-nav-item > a {
  margin: 0 auto;
  padding: 0;

  list-style: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.main-nav-current a {
  padding: 9px 14px 11px 14px;

  background-color: var(--basic-orange);
  border: none;
  border-radius: 26px;
}

.main-nav-item > a:hover ,
.main-nav-item > a:focus {
  padding: 9px 13px 11px 13px;

  color: var(--basic-black);

  background-color: var(--basic-white);
  border-radius: 26px;
  outline: none;
  /* box-shadow: 0 0 0 3px #fff, 0 0 0 6px #2f7cc0;*/
}

.main-nav-item > a:active {
  padding: 9px 13px 11px 13px;

  color: var(--basic-black);

  background-color: var(--bg-grey);
  border-radius: 26px;
  outline: none;
  box-shadow: inset 0 2px 1px #696969;
}


div[class$="group"] > a ,
.user-actions-items > a {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.header-contacts a {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color: var(--basic-white);
}

.slides-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
}

.promo-left {
  width: 560px;
  height: 229px;

  background-color: var(--bg-red);
  background-image: url("../img/bg01.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 16px;
}

.promo-right {
  width: 560px;
  height: 229px;

  background-color: var(--bg-brown);
  background-image: url("../img/bg02.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  border-radius: 16px;
}

.promo-left h3 ,
.promo-right h3 {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
}

.promo-left p ,
.promo-right p {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.catalog-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
  font-weight: bold;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item a {
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.catalog-item a:hover ,
.catalog-item a:active ,
.catalog-item a:focus {
  color: var(--bg-orange);

  border-bottom: 1px solid var(--bg-orange);
}

.catalog-list p {
  font-size: 45px;
  line-height: 45px;
}

.catalog-list span {
  font-size: 30px;
  line-height: 35px;
}

.features {
  width: 1146px;
  height: 306px;

  color: var(--basic-black);

  background-color: var(--basic-yellow);
  background-image: url("../img/bg04.png");
  background-repeat: repeat;
  background-position: top center;
  border-radius: 16px;
}

.features p {
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.features-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.blog-item {
  width: 560px;
  height: 220px;

  color: var(--basic-black);

  background-color: var(--basic-white);
  background-image: url("../img/bg03.jpg");
  background-position: top center;
  border-radius: 16px;
}

.blog-item a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);

  border-bottom: 2px solid #353535;
}

.blog-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
}

.blog-item a:hover ,
.blog-item a:focus ,
.blog-item a:active {
  color: var(--hover-orange);

  border-bottom: 1px solid var(--hover-orange);
}

.modal-subscribe p {
  margin: 0;
  padding-bottom: 47px;
}

.modal-subscribe-border {
  width: 560px;
  padding: 5px 6px;

  background-image: url("../img/bg-post.svg");
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 16px;
}

.modal-subscribe {
  width: 100%;
  height: auto;
  padding: 29px 18px 35px 20px;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 16px;
}
.contacts {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);
}

.contacts span ,
.contacts-container a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.social-list ,
.standards-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.standards-list a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.standards-list a:hover ,
.standards-list a:active ,
.standards-list a:focus {
  color: var(--bg-orange);

  border-bottom: 1px solid var(--bg-orange);
}

.standards-list li:first-child {
  font-weight: bold;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
}

.copyright a {
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.copyright a:hover ,
.copyright a:active ,
.copyright a:focus {
  color: var(--bg-orange);

  border-bottom: 1px solid var(--bg-orange);
}

.feedback-modal-group {
  display: none;
}

.breadcrumbs-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.breadcrumbs-list a {
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.breadcrumbs-item-current a {
  border: 0;
}

.basket-popup {
  display: none;
}

.basket-item a {
  color: var(--basic-white);
}

.basket-item-price {
  color: var(--basic-grey);
}

.main-filter {
  display: none;
}

.pagination-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.pagination-item a {
  line-height: 18px;
  color: var(--basic-white);
}

.breadcrumbs-item a[href]:hover ,
.breadcrumbs-item a[href]:active ,
.breadcrumbs-item a[href]:focus {
  color: var(--bg-orange);

  border-bottom: 1px solid var(--bg-orange);
}


.pagination-item-current a {
  display: inline-block;
  width: 26px;

  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-black);

  background-color: var(--basic-white);
  border-radius: 50%;
}

.pagination-list li:hover:not(.pagination-item-current) ,
.pagination-list li:focus:not(.pagination-item-current) {
  display: inline-block;
  width: 26px;

  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-white);

  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.pagination-item a:active {
  display: inline-block;
  width: 26px;

  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-black);

  background-color: var(--basic-white);
  border-radius: 50%;
}



.page {
  height: 100%;
}

.page-body {
  display: grid;
  align-content: start;
  min-height: 100%;

  grid-template-rows: min-content 1fr min-content;
}
