
:root {
  --main-bg-green: #849D8F;
  --main-bg-blue: #8996A6;
  --main-bg-brown: #9D8B84;
  --basic-yellow: #F1E5CD;
  --basic-black: #323232;
  --basic-white: #FFFFFF;
  --basic-grey: #C4C4C4;
  --basic-orange: #D07058;


  --bg-red: #A2314E;
  --bg-brown: #301A0B;
  --bg-grey: #EDEDED;
  --bg-pale-orange: #FBDED7;
  --bg-orange: #F6B5A5;
  --hover-orange: #E84D37;

  --hover-pale-orange: #FFBC9E;

  --reusable-box-shadow: 0px 2px 2px rgba(172, 16, 0, 0.64);
  --reusable-gradient: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  --reusable-border-bottom: 1px solid rgba(255, 255, 255, 0.2) ;
  --text-shodow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: var(--basic-white);

  background-color: var(--main-bg-green);
  background-repeat: no-repeat;
  background-position: top center;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.container {
  max-width: 1146px;
  margin: 0 auto;
  padding: 0;
}

.catalog-drop-down {
  display: none;
  width: 143px;
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 14px;
  line-height: 16px;

  background-color: var(--basic-white);
  border-radius: 4px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.drop-down-item a {
  display: block;

  color: var(--basic-black);
}

.drop-down-item-active a {
  font-weight: bold;
  line-height: 18px;
}

.catalog-drop-down a:hover ,
.catalog-drop-down a:focus {
  background-color: var(--bg-pale-orange);
}

.catalog-drop-down a:active {
  background-color: var(--bg-orange);
}

.drop-down-item-current a ,
.drop-down-item-current a:hover ,
.drop-down-item-current a:focus ,
.drop-down-item-current a:active {
  color: var(--basic-white);

  background-color: var(--basic-orange);
}


.search-popup {
  display: none;
}

.login-popup {
  display: none;
}

.img-crop {
  border-radius: 50%;
}

.button {
  padding: 13px 22px;

  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-shadow: var(--text-shadow);

  background: var(--reusable-gradient);
  border-radius: 70px;
  box-shadow: var(--reusable-box-shadow);
}

.button:hover ,
.button-large:hover ,
.button-large:hover {
  text-shadow: var(--text-shadow);

  background: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px #ac1000;;
}

.button:active ,
.button-large:active {
  text-shadow: var(--text-shadow);

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #f26843 0%, #e74a35 100%);
  box-shadow: inset 0 2px 2px #942718;;
}

.button-large {
  padding: 10px 40px;

  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  color: var(--basic-white);

  background: var(--reusable-gradient);
  border-radius: 70px;
  box-shadow: var(--reusable-box-shadow);
}

/* Navigation start */

.main-header {
  display: flex;
  justify-content: flex-start;
}

.main-nav {
  display: flex;
  flex-grow: 1;
}

.main-header-logo {
  margin-top: 9px;
}

.main-nav-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 0;
  /*  margin-left: 17px ; */
  margin-top: 17px;
  padding: 0;

  list-style: none;
}

.main-nav-item {
  margin-left: 8px;
  padding: 10px 13px;

  background-color: transparent;
  border-radius: 26px;
  outline: none;
  cursor: pointer;
}

.main-nav-item:hover ,
.main-nav-item:focus {
  background-color: var(--basic-white);
  border: none;
}

.main-nav-item:active {
  background-color: var(--bg-grey);
  box-shadow: inset 0 2px 1px #696969;
}


.main-nav-item > a {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.main-nav-item:hover > a ,
.main-nav-item:focus > a ,
.main-nav-item:active > a {
  color: var(--basic-black);
  text-decoration: none;

  border: none;
}

.main-nav-current {
  text-decoration: none;

  background-color: var(--basic-orange);
  border: none;
}

.main-nav-current > a {
  border: none;
}

.user-actions-group {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.login a ,
.basket a {
  margin-left: 10px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-white);
}

.header-contacts {
  margin: 0;
  margin-top: 23px;
  padding: 0;

  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
  color: var(--basic-white);
}

.header-contacts a {
  font-weight: bold;
  font-size: 22px;
  line-height: 41px; /* Подгон под пп */
  color: var(--basic-white);
}

.header-contacts a:hover ,
.header-contacts a:focus ,
.header-contacts a:active {
  color: var(--hover-pale-orange);
}

/* Navigation end */

.slides-list {
  margin: 0 auto;
  padding: 0;

  list-style: none;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}

/* Promos start */

.promos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 218px;
}

.promo {
  display: flex;
  flex-basis: 560px;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 229px;
  padding: 16px 22px 22px 16px ;
}

.promo a {
  margin-top: 40px;
  margin-left: auto;
}

.promo-title {
  /* Почему селектор .promo h3 не работает */
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 35px;
  line-height: 38px;
}

.promo p {
  margin: 0;
  margin-top: 19px;
  padding: 0;

  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.promo-left {
  overflow: hidden;

  background-color: var(--bg-red);
  background-image: url("../img/bg01.jpg");
  background-repeat: repeat;
  background-position: top center;
  border-radius: 16px;
}

.promo-right {
  overflow: hidden;

  background-color: var(--bg-brown);
  background-image: url("../img/bg02.jpg");
  background-repeat: repeat;
  background-position: top center;
  border-radius: 16px;
}

/* Promos end */

/* Catalog start */

/* .catalog {
   outline: 1px solid red;
}
 */
 .catalog-title {
  font-weight: bold;
font-size: 35px;
line-height: 41px;
 }
 
.catalog-list {
  display: grid;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0;

  list-style: none;
  text-align: center;
  text-shadow: 0 1px 3px rgba(49, 50, 53, 0.5);

  column-gap: 26px;
  row-gap: 40px;
  grid-template-columns: repeat(auto-fit, 267px);
}

.catalog-item a {
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.catalog-item a:hover ,
.catalog-item a:active ,
.catalog-item a:focus {
  color: var(--bg-orange);

  border-bottom: 1px solid var(--bg-orange);
}

.catalog-list p {
  margin: 0;
  padding: 0;

  font-weight: bold;
  font-size: 45px;
  line-height: 45px;
  position: absolute;
  top: 209px;
}

.product-box {
  position: relative;
}

.product-description {
  margin: 0;
  margin-top: 7px; /* Как лучше делать */
  padding: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.catalog-list span {
  font-size: 30px;
  line-height: 35px;
}

/* catalog end */

/* Features start */

.features {
  box-sizing: border-box;
  height: auto;
  min-height: 306px;
   margin-top: 40px;
  padding: 20px;

  color: var(--basic-black);

  background-color: var(--basic-yellow);
  background-image: url("../img/bg04.png");
  background-repeat: repeat;
  background-position: top center;
  border-radius: 16px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features p {
  height: auto;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
}

.features-list-item {
  flex-basis: 540px;
  box-sizing: border-box;
  height: auto;
}

/* features end */

/* blog, subscription start */


.blog-subscribe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.blog-item {
  flex-basis: 560px;
  height: auto;
  min-height: 220px;

  color: var(--basic-black);

  background-color: var(--basic-white);
  background-image: url("../img/bg03.jpg");
  background-position: top center;
  border-radius: 16px;
}

.blog-item a {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-black);

  border-bottom: 2px solid #353535;
}

.blog-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-black);
}

.blog-item a:hover ,
.blog-item a:focus ,
.blog-item a:active {
  color: var(--hover-orange);

  border-bottom: 1px solid var(--hover-orange);
}

.modal-subscribe p {
  margin: 0;
}

.modal-subscribe-border {
  flex-basis: 560px;
  box-sizing: border-box;
  height: auto;
  min-height: 220px;
  padding: 5px 6px;

  background-image: url("../img/bg-post.svg");
  background-repeat: repeat;
  background-position: top center;
  background-size: cover;
  border-radius: 16px;
}

.modal-subscribe {
  width: 100%;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 16px;
}

/* blog, subscription end */

/*  contacts-feedback block */

.feedback-contacts {
  display: none;
  padding: 31px 25px;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-black);

  background-color: #f8f7f4;
  border-radius: 16px;
}

.feedback-contacts p {
  margin: 0;
  padding: 0;
}

.feedback-contacts span ,
.contacts-container a {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

/*  contacts-feedback block end */

/* Footer start */

.main-footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

/* social block start */

.social-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 168px;
  margin-top: 28px;
}

.social-item:nth-child(4n) {
  margin-right: 0;
}

.social-item {
  flex-basis: 36px;
  height: 36px;
  margin-right: 8px;

  outline: 1px solid red;
  /* margin-bottom: 10px; */
}

/* social block end */

/* standards block start */

.standards-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: 24px;
  padding: 0;

  list-style: none;
}

.standards-item:nth-child(odd) a:nth-child(odd) {
  margin-left: 22px ;
}

.standards-item:nth-child(even) a {
  margin-left: 32px ;
}

.standards-list a {
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.standards-list a:hover ,
.standards-list a:active ,
.standards-list a:focus {
  color: var(--bg-orange);

  border-bottom: 1px solid var(--bg-orange);
}

.standards-item-bold {
  font-weight: bold;
}

/* standards block end */

/* copy-start */

.footer-right {
  margin-top: 13px;
}

.footer-right p {
  margin: 0;
  padding: 0;
}

.copyright {
  font-size: 12px;
  line-height: 18px;
}

.copyright a {
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.copyright a:hover ,
.copyright a:active ,
.copyright a:focus {
  color: var(--bg-orange);

  border-bottom: 1px solid var(--bg-orange);
}

/* copy end */

/* Footer end */

.feedback-modal-group {
  display: none;
}

/* breadcrumbs */

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.breadcrumbs-list a {
  color: var(--basic-white);

  border-bottom: var(--reusable-border-bottom);
}

.breadcrumbs-item {
  margin-right: 8px;
}

.breadcrumbs-item:last-child {
  margin-right: 0;
}

.breadcrumbs-item-current a {
  border: 0;
}

.breadcrumbs-item a[href]:hover ,
.breadcrumbs-item a[href]:active ,
.breadcrumbs-item a[href]:focus {
  color: var(--bg-orange);

  border-bottom: 1px solid var(--bg-orange);
}

/* bredcrumbs end */

.basket-popup {
  display: none;
}

.basket-item a {
  color: var(--basic-white);
}

.basket-item-price {
  color: var(--basic-grey);
}

/* Filter */

.main-filter-wrapper {
display: flex;
flex-wrap: wrap;
align-content: flex-start;
}

.main-filter-wrapper div {
  margin-right: 15px;
}

.fat-content-title {
  margin: 0 ;
  padding: 0;
}

.fat-content-list {
  display: flex;
  margin: 0 ;
  padding: 0;

list-style: none;
}

.fillings-title {
  margin: 0 ;
  padding: 0;
}

.fillings-list {
  margin: 0 ;
  padding: 0;
  list-style: none;

  display: flex;
}

/* filter end */

/* pagination  */

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 ;
  padding: 0;
  margin-top: 76px;
  padding-bottom: 35px;



  list-style: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.pagination-item a {
  display: inline-block;
  width: 26px;

  line-height: 26px;
  vertical-align: middle;
  text-align: center;
  color: var(--basic-white);

  border-radius: 50%;
}

.pagination-item-current a {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

.pagination-item:nth-child(n+3) a:hover ,
.pagination-item:nth-child(n+3) a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.pagination-item:nth-child(n+3) a:active {
  color: var(--basic-black);

  background-color: var(--basic-white);
}

/* pagibation end */
